* {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.statement-card {
    background-color: #94e0c9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#form {
    border: 2px solid #46B191;
    border-radius: 10px;
    padding: 10px;
}

#form-new {
    border: 2px solid #46B191;
    border-radius: 10px;
    padding: 10px;
}

#top-bar {
    background-color:#46B191;
}

.container-fluid {
    padding-bottom: 20px;
}