.statement-card {
    background-color: #C7E8ED;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#form {
    border: 2px solid #0099A0;
    border-radius: 10px;
    padding: 100px;
}

#form-new {
    border: 2px solid #0099A0;
    border-radius: 10px;
    padding: 20px;
}